.partners {
    text-align: center;
}

.partners h2 {
    color: white;
    margin-bottom: 40px;
    margin-top: 50px;
    letter-spacing: 5px;

}



.far_img img {
    width: 100%;
    margin-top: 0px;
    background-color: white;
    border-style: solid;
    border-color: white;
    border-width: 19px;
}
.sabre_img img {
    width: 100%;
    margin-top: 0px;
    background-color: white;
    border-style: solid;
    border-color: white;
    border-width: 19px;
}


@media  screen and (min-width: 768px) {
    .far_img img {
        margin-top: 25%;
    }
    .sabre_img img {
        margin-top: 25%;
    }
}


.patroni_div {
    background-color: white;
}

.logoP1, .logoP2, .logoP3{
    width: 50%;
}

.logoP2{
    margin-top: 10%;
}

.logoP3{
    margin-top: 16%;
    margin-bottom:30px;
}


.media_div{
    background-color: white;
    padding: 20px;
    padding-bottom: 0px;
}
.media_logo{

    height: 200px;
}
.logoBIS {
    width: 100%;
}
.logodata{
    width: 66%;
}

.logodla{
    margin-top: 20%;
    width: 90%;
}
.logoeska{
    margin-top: 15%;
    width: 90%;
}
.logoPodaj{
    margin-top: 5%;
    width: 80%;
}
.logoPrad{
    margin-top: 15%;
    width: 90%;
}
.logoProg{
    margin-top: 0%;
    width: 100%;
}
.logoRadio{
     margin-top: 15%;
     width: 90%;
 }
.logoOMG{
    margin-top: 10%;
    width: 90%;
}
.logorocket{
    margin-top: 10%;
    width: 95%;
}
.logorb{
    margin-top: 10%;
    width: 100%;
}
.logoitkrk{
    margin-top: 10%;
    width: 100%;
}
.logosnews{
    margin-top: 35%;
    width: 100%;
}